page-me {
  .space {
    height: 12px;
    background: #eee;
  }
  .list {
    margin-bottom: 12px;
    .item-block {
      min-height: 40px;
    }
    .label {
      font-size: 12px;
      margin: 4px 8px 4px 0;
    }
  }
  .me-menu {
    background: #fff;
    text-align: center;
    .col img {
      border-radius: 50%;
      width: 46px;
      height: 46px;
    }
    .col p {
      font-size: 12px;
      margin: 0;
      color: #999;
    }
  }
  .no-border .item {
    border: none!important;
  }
  .icon {
    margin: 0!important;
    color: #488aff;
    font-size: 22px;
    position: relative;
    top: 3px;
    left: -4px;
  }
}
